*{
font-family: "Times New Roman", serif;
box-sizing: border-box;
padding:3px 2px 2px 3px;

}
body{

font-size: 16px;
}
.form-container {
    border: 1px solid black;
    max-height: 80%;
    width: 40%;
    margin: 10px auto;
    padding: 20px;
    background-color: white;
}


h1{
text-align: center;
}

.unfit{
    border: solid black 2px;
    
}
.three-sided-border{
    border:solid black 2px;
}
.signature{
    border:solid black 2px;
}
select{
   color:rgb(217, 0, 255);
    
}

input{
    color:red;
}

