*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 4rem;
}
.profile-header, .profile-details{
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 15px;
    margin-left: 20px;
}
.profile-details{
    flex: 1;
    width: 100%;
    max-width: none;
    margin-right: 10px;
}
img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
}
h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
.text{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#button{
    background-color: rgb(100, 10, 10);
    color: white;
    padding: 10px 20px;
    margin: 10px 0 0 10px;
    border: none;
    box-shadow: 0 0 15px;
}
table{
    width: 100%;
}
td{
    padding: 10px 15px;
    border-bottom: 1px solid;
}
#button:hover{
    background-color: red;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: all 0.4s ease;
    background-color: rgb(100, 10, 10);
  }
  
nav .nav-content{
    height: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo a{
    font-weight: 500;
    font-size: 35px;
    color: white;
    text-decoration: none;
  }
  
  .nav-content .nav-links{
    display: flex;
  }
  .nav-content .nav-links li{
    list-style: none;
    margin: 0 8px;
  }
   .nav-links li a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 4px;
    transition: all 0.3s ease;
  }
   .nav-links li a:hover, .dropdown:hover, button:hover{
     color: #4070f4;
   }
.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-options {
    display: none;
    position: absolute;
    min-width: 150px;
}
.dropdown .dropdown-options a{
    display: block;
    padding: 10px 15px;
    color: red;
    font-size: 18px;
    border-bottom: 1px solid rgba(97, 68, 68, 0.1);
    background-color: white;
    transition: all 0.3s ease;                                                               
}
.dropdown:hover .dropdown-options {
    display: block;
}
.dropdown .dropdown-options a:hover{
    background-color:  #4070f4;
    color: white;
}
button{
    font-size: 18px;
    background-color: rgb(100, 10, 10);
    border: none;
    color: white;
    transition: all 0.3s ease;
}